.listContainerByRow{
  display:flex;
  flex-direction:column;
  background-color: transparent;
}

.listContainerByRow > div {
  margin:10px;
}

.listContainerByCol  {
  display:flex;
  flex-direction: row;
  justify-content: end;
}

img{
  margin: 10px;
}

a {
  color:#fff;
}

