.inputField input[type="file"] {
  display: none;  /* Hide the default file input */
}

.inputField .file-label {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f18730;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inputField .file-label:hover {
  background-color: #285f8f;  /* Darken the button on hover */
}

.inputField .file-name {
  margin-top: 10px;
  font-size: 0.875rem;
  color: #555;
  font-weight: 400;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
  margin-bottom: 5px;
}